* {
	box-sizing: border-box;
}

@font-face {
	font-family: pix;
	src: url(Ac437_ACM_VGA_8x14.ttf);
}
/*background*/
body {
	background: skyblue;
	color: white;
	font-family: pix;
	background-repeat: no-repeat;
  background-attachment: fixed;

}

p , a, button {
	font-size: 35px;
	color: white;
	text-decoration: none;
}

button{
	border:none;
	font-family: pix;
	background: darkblue;
}

.flexParent a {
	display: flex;
	flex-direction: column;
}

.flexParent  {
	background-color: darkblue;
	margin: 10px;
	padding: 5px;
	border: 4px solid;
	height: 750px;
	width: 650px;
	position: fixed;
}

.flexParent a:hover {
background-color: white;
color: black;
}

.projects button:hover{
	background-color: white;
color: black;
}

.header  {
	background-color: ghostwhite;
	text: black;
	margin: -10px;
	padding: 5px;
	border: 4px solid;
	height: 100px;
	width: 650px;
}

.dropdown {
	height: 10vh;
}

/*pop up when it's invisible*/
.projects ul {
	list-style: none;
	opacity: 0;
	pointer-events:auto;
	transform: translateY(1000px);
	transition: 1s ease;
	transition-delay: .25s;
	background: darkblue;
	color: white;
	margin: 10px;
	padding: 5px;
	border: 4px solid;
	height: 150px;
	width: 500px;
}



/*pop up when you see it*/
.projects button:hover + ul{
	opacity: 1;
	pointer-events: auto;
	transform: translateY(-8px);
	background: darkblue;
	color: white;
	margin: 10px;
	padding: 5px;
	border: 4px solid;
	height: 150px;
	width: 500px;
}
/*gets the hover to work*/
.projects ul:hover{
	opacity: 1;
	pointer-events: auto;
	transform: translateY(-8px);
	background: darkblue;
	color: white;
	margin: 10px;
	padding: 5px;
	border: 4px solid;
	height: 150px;
	width: 500px;
}

/*robocavestuff*/
.robocave ul {
	list-style: none;
	opacity: 0;
	pointer-events:auto;
	transform: translateY(1000px);
	transition: 1s ease;
	transition-delay: .25s;
	background: darkblue;
	color: white;
	margin: 10px;
	padding: 5px;
	border: 4px solid;
	height: 150px;
	width: 500px;
}

.robocave button:hover + ul {
	opacity: 1;
	pointer-events: auto;
	transform: translateY(-8px);
	background: darkblue;
	color: white;
	margin: 10px;
	padding: 5px;
	border: 4px solid;
	height: 150px;
	width: 500px;
}

.robocave ul:hover{
	opacity: 1;
	pointer-events: auto;
	transform: translateY(-8px);
	background: darkblue;
	color: white;
	margin: 10px;
	padding: 5px;
	border: 4px solid;
	height: 150px;
	width: 500px;
}

#galleryImage {
  width: 100%;
  max-width: 800px;   
  height: 450px;      
  object-fit: contain; 
  border: 2px solid white;
  background: black;   
}










@media only screen and (max-width: 768px) {
  * {
	box-sizing: border-box;
}

@font-face {
	font-family: pix;
	src: url(Ac437_ACM_VGA_8x14.ttf);
}

body, button {
	background: linear-gradient(to top, darkblue, skyblue);
	color: white;
	font-family: pix;
	background-repeat: no-repeat;
  background-attachment: fixed;
}
p , a, button {
	font-size: 35px;
	color: white;
	text-decoration: none;
}

button{
	border:none;
	font-family: pix;
	background: darkblue;
}

.flexParent a {
	display: flex;
	flex-direction: column;
}

.flexParent  {
	background-color: darkblue;
	margin: 10px;
	padding: 5px;
	border: 4px solid;
	height: 350px;
	width: 500px;
	position: fixed;
}

.flexParent a:hover {
background-color: white;
color: darkblue;
}

.projects button:hover{
	background-color: white;
color: darkblue;
}

.header  {
	background-color: darkblue;
	margin: -10px;
	padding: 5px;
	border: 4px solid;
	height: 100px;
	width: 500px;
}
.gifs div {
	display: flex;
	flex-direction: column;
	float: right;
	margin: 20px;
	transform: translate(0px,500px);
	position: relative;
	justify-content:flex-end ;
	align-items: flex-start;
	z-index: 1;

}
.dropdown {
	height: 10vh;
}

.projects ul {
	list-style: none;
	opacity: 0;
	pointer-events: all;
	transform: translateY(200px);
	transition: 5s ease;
	transition-delay: 5s;
	background: darkblue;
	color: white;
	margin: 10px;
	padding: 5px;
	border: 4px solid;
	height: 150px;
	width: 500px;
}


.projects button:focus + ul{
	opacity: 1;
	pointer-events: all;
	transform: translateY(0px);
	background: darkblue;
	color: white;
	margin: 10px;
	padding: 5px;
	border: 4px solid;
	height: 150px;
	width: 500px;
}

.gifs ul {
	list-style: none;
	opacity: 0;
	pointer-events: all;
	transform: translateY(200px);
	transition: 5s ease;
	background: darkblue;
	color: white;
}

.gifs button:focus + ul{
	opacity: 1;
	pointer-events: all;
	transform: translateY(0px);
	background: darkblue;
	color: white;
}

